<!DOCTYPE html>
<html>
  <head>
    <title>GCAT</title>
    <%= favicon_link_tag "/favicon.ico" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav id="nav-bar" class="navbar navbar-default" role="navigation">
      <h1>GCAT</h1>
    </nav>
    <div>
      <div id='contents'>
        <%= yield %>
      </div>
      <div class="actions" style="padding-left:20px;padding-right:20px;margin-top:30px; clear:both;">
        <%= mail_to "gcat.help@glbrc.wisc.edu","Please Send Any Questions To The GLBRC Help Desk And Be Sure To Include 'GCAT' In Your Subject Title", :subject => "GCAT" %>
      </div>
      <div id='footer' style='padding-left:20px;padding-right:20px'>
        Copyright &copy; 2012 The Board of Regents of the University of Wisconsin System
        <br/>
        <%= image_tag 'lgplv.jpg' %>
        <%= image_tag 'GLBRC_horz_cmyk_small.jpg' %>
        <%= image_tag 'DOE_Logo_Color.png', :size => "292x72" %>
      </div>
    </div>
  </body>
</html>
