<div class="container" id="form-container">
    <h1>Error</h1>
    <%= @error_msg %>
	</br></br>
    <button type="button" id ="show">Full console message</button>
    <div id="console" style="display:none;">
    	<code><%= @console_msg %></code>
    </div>
    <script>
    	$(function() {
    		$('button#show').click(function(event){
    			event.preventDefault();
    			$('div#console').toggle();
    		});
    	});
    </script>
	</br>
	<h5>Please resubmit your file.</h5>
  <div class="actions" style="margin-top:30px; clear:both;">
    <% if !@admin_notified%>
      <h5>If you believe the error was our fault. Please click 'send' to inform us.</h5>
      <h5>Please provide your email address and name so that we can get back to you.</h5>
      <%= form_tag(:controller=>"assays", :action=>"notify_admin", method:"post") do%>
        <%= label_tag(:email, "Email: ")%>
        <%= text_field_tag(:email)%><br>
        <%= label_tag(:name, "Name: ")%>
        <%= text_field_tag(:name)%><br>
        <%= hidden_field_tag(:assay_id, @assay.uniqueID) %>
        <%= submit_tag("Send")%>
      <% end %>
    <% else %>
      <h3>Thanks, we will get back to you soon.</h3>
    <% end %>
  </div>
  <%= link_to 'New Assay', new_assay_path%>
  <br><br><br>
</div>
